
.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2rem;
  background: white;
}

.bold_p {
  font-weight: bold;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

  /* Flashed Messages */
.flashes h4 {
  line-height: 3;
}

.btn-floating.btn-small i {
  line-height: 32.4px;
  font-size: larger;
}

.btn-small {
  margin: 5px;
}

.collapsible-header {
  margin-left: 10px;
  line-height: 42px;
}

.fa-check-circle {
  margin-left: 5px;
  line-height: 42px;
}

.profile_p {
  color: white;
}