{% extends "base.html" %}
{% block content %}

<!-- 
    {% for book in books %}
        {{ books.book_category }} <br>
        {{ books.book_title }} <br>
        {{ books.is_read}} <br>
        {{ books.book_cover }}
        {{ books.book_description }} <br>
        {{ books.book_author }} <br>
        {{ books.book_publisher }} <br>
        {{ books.link_to_worldwide_book_store }} <br>
    {% endfor %}
    -->

    <h3 class="amber-text text-darken-4 center-align">Edit Book</h3>
    <!-- Book Title -->
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_book', books_id=books._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-book prefix amber-text text-darken-1"></i>
                    <input id="book_title" name="book_title" type="text" 
                    maxlength="70" class="validate" required>
                    <label for="book_title">Book Title</label>
                </div>
            </div>
            <!-- Book Cover Image -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix amber-text text-darken-1"></i>
                    <input id="book_cover" name="book_cover" type="text" 
                    minlength="5" maxlength="250" class="validate" required>
                    <label for="book_cover">Book Cover Image</label>
                </div>
            </div>
            <!-- Book Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix amber-text text-darken-1"></i>
                    <textarea id="book_description" name="book_description" 
                    minlength="5" maxlength="250" class="materialize-textarea validate" required></textarea>
                    <label for="book_description">Book Description</label>
                </div>
            </div>
            <!-- Book Author -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-edit prefix amber-text text-darken-1"></i>
                    <input id="book_author" name="book_author" type="text" 
                    minlength="5" maxlength="50" class="validate" required>
                    <label for="book_author">Book Author</label>
                </div>
            </div>
            <!-- Book Publisher -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-laptop prefix amber-text text-darken-1"></i>
                    <input id="book_publisher" name="book_publisher" type="text" 
                    minlength="5" maxlength="70" class="validate" required>
                    <label for="book_publisher">Book Publisher</label>
                </div>
            </div>
            <!-- Link to Worldwide Online Book Store -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-link prefix amber-text text-darken-1"></i>
                    <input id="link_to_worldwide_book_store" 
                    name="link_to_worldwide_book_store" type="text" 
                    minlength="5" maxlength="200" class="validate" required>
                    <label for="link_to_worldwide_book_store">Book Store Url</label>
                </div>
            </div>
            <!-- Book Read Switch -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="far fa-check-circle fa-2x amber-text text-darken-1"></i>
                        <label for="is_read">
                            <input type="checkbox" id="is_read" name="is_read" required>
                            <span class="lever"></span>
                            Have you read this book?
                        </label>
                    </div>
                </div>
            </div>
            <!-- Edit Book -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large amber darken-4 text-shadow"><i class="fas fa-edit"></i></button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}