{% extends "base.html" %}
{% block content %}

<!-- 
    {% for book in books %}
        {{ books.book_category }} <br>
        {{ books.book_title }} <br>
        {{ books.is_read}} <br>
        {{ books.book_cover }}
        {{ books.book_description }} <br>
        {{ books.book_author }} <br>
        {{ books.book_publisher }} <br>
        {{ books.link_to_worldwide_book_store }} <br>
    {% endfor %}
    -->

    <h3 class="amber-text text-darken-4 center-align">Football Library</h3>

    <ul class="collapsible">
      {% for books in books %}
      <li>
        <div class="collapsible-header amber-text text-darken-4">
          <div class="col s3">
            <i class="fas fa-book-reader"></i>
            {% if session.user|lower == books.added_by|lower %}
              <a href="{{ url_for('edit_book', books_id=books._id) }}" class="btn-floating btn-small waves-effect waves-light orange"><i class="fas fa-pen"></i></a>
              <a href="{{ url_for('delete_book', books_id=books._id) }}" class="btn-floating btn-small waves-effect waves-light blue"><i class="fas fa-check"></i></a>
            {% endif %}
          </div>
          <strong>{{ books.book_title }}</strong>
          {% if books.is_read == "yes" %}
          <i class="far fa-check-circle green-text tooltipped" data-position="right"
            data-tooltip="You have finished this book!"></i>
          {% endif %}
        </div>
        <div class="collapsible-body">
          <div class="center">
            <img class="activator" src="{{ books.book_cover }}" alt="No Image Available" />
          </div>
          <p>{{ books.book_description }}</p>
          <p><span class="bold_p">Book Genre:</span> {{ books.football_genre }}</p>
          <p><span class="bold_p">Book Author:</span> {{ books.book_author }}</p>
          <p><span class="bold_p">Book Publisher:</span> {{ books.book_publisher }}</p>
          <p><em>by: {{ books.added_by }}</em></p>
        </div>
      </li>
      {% endfor %}
    </ul>

  {% endblock %}